body,html{
    width:95%;
    background-color: bisque;
    padding-left: 1%;
    margin: 1%;
}
.header{
    width:100%;
    text-align: center;
    align-items: center;
}
.header h1{
    color: brown;
    text-decoration-line: underline;
    text-decoration-style:solid;
    font-size: 50px;

}
.header h1:hover{
    text-decoration: none;
    transition: 2s;
    color:darkgoldenrod;
}
.head{
    display: flex;
    width:100%;
    margin-bottom: 2%;
}
.logo{
    width:40%;
}
.logo img{
    width: 150px;;

}
.navigation ul{
    display: flex;
    width:70%;
    text-align: right;
    gap:5%;
    color:teal;
    font-size: 20px;
}
.navigation ul li:hover{
    transition: 3s;
    color:yellowgreen;
    font-size: smaller;
    text-decoration-line: underline;
    text-decoration-color: coral;
}
.navigation{
    display: flex;
    width:calc(100% - 30%);
}
.content-banner{
    border:burlywood transparent;
}
.banner{
    width:100%;
}
.banner img{
    width:100%;
    height:190px;
}
.classify{
    padding-top: 4%;
    width:100%;
}
.classify h1{
    font-size:45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color:darkgreen;
    text-decoration-line: underline;

}
.classify h1:hover{
    font-size:30px;
    transition: 3s;
    color:rosybrown;
}
.footer{
    width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    background: linear-gradient(#000,#000) center/2px 100% no-repeat;
}
.container names{
    width:100%;
    padding:1px 1px 1px 1px;
    
}
.names h1{
    color:darkred;
}
.footer li{
    text-decoration-line: underline;
    text-decoration-color:red;
    color:orangered;
}
.footer li:hover{
    font: size 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    transition: 2s;
}
